/* presets */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

img {
    -webkit-user-drag: none;
}

/* main styles */

.banner {
    width: 500px;
    height: 1000px;
    background-color: #932122;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.scene-1 {
    width: 100%;
    height: 100%;
}

.scene-1-background {
    position: absolute;
    animation: fade-in 0.5s ease-out forwards;
}

.scene-1-burger {
    position: absolute;
    transform: scale(1.03);
    animation: burger-animation 1.2s ease-out forwards;
    animation-delay: 1s;
    opacity: 0;
}

.scene-1-container {
    animation: fade-in 0.5s ease-out forwards;
    animation-delay: 0.6s;
    opacity: 0;
}

.scene-1-claim, .scene-1-logo {
    position: absolute;
}

.scene-1-headline {
    overflow: hidden;
    animation: slide-in 0.7s linear forwards;
    animation-delay: 1.5s;
    transition: opacity 0.3s ease-out;
    width: 0;
}

.scene-1-txt_1 {
    position: relative;
}

.scene-1-txt_2 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    animation: fade-in 0.5s ease-out forwards;
    animation-delay: 2.2s;
}

.scene-1-mcextreme_container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.scene-1-x {
    position: absolute;
    z-index: 1;
    transform: scale(0);
    animation: X-animation 0.4s ease-out forwards;
    animation-delay: 4.4s;
}

.scene-1-mce_treme {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    animation: mcextreme-animation 0.8s ease-out forwards;
    animation-delay: 4.6s;
}

.scene-1-stroerer {
    position: absolute;
    transform: scale(0);
    animation: stroerer-animation 0.5s ease-out forwards;
    animation-delay: 5.5s;
}

/* keyframes */

@keyframes burger-animation {
    0% {
        right: -230px;
    }
    100% {
        right: -445px;
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-in {
    100% {
        width: 100%;
    }
}

@keyframes X-animation {
    0% {
        transform: translate(135px, 50px) scale(0) rotate(-240deg);
    }
    100% {
        transform: translate(135px, 50px) scale(1) rotate(0);
    }
}

@keyframes mcextreme-animation {
    0% {
        transform: translateY(77px) scale(0.9) rotateY(80deg);
        opacity: 0.6;
    }
    100% {
        transform: translateY(77px) scale(1) rotateY(0);
        opacity: 1;
    }
}

@keyframes stroerer-animation {
    0% {
        transform: translate(37px, 235px) scale(0);
    }
    70% {
        transform: translate(37px, 235px) scale(1);
    }
    100% {
        transform: translate(37px, 235px) scale(0.95);
    }
}