/* presets */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

img {
    -webkit-user-drag: none;
}

/* main styles */

.banner {
    width: 500px;
    height: 1000px;
    background-color: #932122;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.scene-1, .scene-2 {
    width: 100%;
    height: 100%;
}

.scene-1-background {
    position: absolute;
    animation: fade-in 0.5s ease-out forwards;
}

.scene-1-burger {
    position: absolute;
    transform: scale(1.03);
    animation: burger-animation 1.2s ease-out forwards;
    animation-delay: 1s;
    opacity: 0;
    z-index: 2;
}

.scene-1-claim, .scene-1-logo {
    position: absolute;
    opacity: 0;
    animation: fade-in 0.5s ease-out forwards;
    animation-delay: 0.6s;
}

.scene-1-claim {
    z-index: 3;
}

.scene-1-headline {
    overflow: hidden;
    animation: slide-in 0.7s linear forwards;
    animation-delay: 1.5s;
    transition: opacity 0.3s ease-out;
    width: 0;
}

.scene-1-txt_1 {
    position: relative;
}

.scene-1-txt_2 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    animation: fade-in 0.5s ease-out forwards;
    animation-delay: 2.2s;
}

.scene-1-mcextreme_container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.scene-1-x {
    position: absolute;
    z-index: 1;
    transform: scale(0);
    animation: X-animation 0.4s ease-out forwards;
    animation-delay: 4.4s;
}

.scene-1-mce_treme {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    animation: mcextreme-animation 0.8s ease-out forwards;
    animation-delay: 4.6s;
}

.scene-1-stroerer {
    position: absolute;
    transform: scale(0);
    animation: stroerer-animation 0.5s ease-out forwards;
    animation-delay: 5.5s;
    z-index: 2;
}

.outro {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.outro-circle1 {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #932122;
    outline: 70px solid #932123ab;
    border-radius: 100%;
    transform: scale(0);
    animation: circle-animation 3.4s ease-out forwards;
    animation-delay: 6.5s;
    z-index: 1;
}

.outro-circle2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    transform: scale(0);
    animation: circle-animation 3.1s ease-out forwards;
    animation-delay: 7.1s;
    outline: 35px solid #9321235f;
    z-index: 2;
}

.outro-circle3 {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #932122;
    transform: scale(0);
    animation: circle-animation 1.7s ease-out forwards;
    animation-delay: 7.2s;
    z-index: 2;
}

.scene-2 {
    position: absolute;
    z-index: 3;
    top: 0;
}

.scene-2-logo_container {
    overflow: hidden;
    transform: translate(-5px, 260px);
    width: 65%;
    height: 0;
    animation: logo-animation 0.8s ease-out forwards;
    animation-delay: 8.5s;
    margin: 0 auto;
}

.scene-2-logo {
    position: relative;
    width: 100%;
}

.scene-2-mcextreme {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translate(-30px, 390px) scale(0.75) rotate(4.8deg);
    animation: fade-in 1s ease-out forwards;
    animation-delay: 9.3s;
}

.scene-2-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fade-in 0.5s linear forwards;
    animation-delay: 12s;
    background-color: #932122;
}

/* keyframes */

@keyframes burger-animation {
    0% {
        right: -230px;
    }
    100% {
        right: -445px;
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-in {
    100% {
        width: 100%;
    }
}

@keyframes X-animation {
    0% {
        transform: translate(135px, 50px) scale(0) rotate(-240deg);
    }
    100% {
        transform: translate(135px, 50px) scale(1) rotate(0);
    }
}

@keyframes mcextreme-animation {
    0% {
        transform: translateY(77px) scale(0.9) rotateY(80deg);
        opacity: 0.6;
    }
    100% {
        transform: translateY(77px) scale(1) rotateY(0);
        opacity: 1;
    }
}

@keyframes stroerer-animation {
    0% {
        transform: translate(37px, 235px) scale(0);
    }
    70% {
        transform: translate(37px, 235px) scale(1);
    }
    100% {
        transform: translate(37px, 235px) scale(0.95);
    }
}

@keyframes circle-animation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(8);
    }
}

@keyframes logo-animation {
    100% {
        height: 280px;
    }
}